main .full-detail {
  padding-bottom: 30px; }
  main .full-detail .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px; }
  main .full-detail .image-phone img {
    max-width: 30%; }
  main .full-detail .description {
    text-align: center;
    margin: 10px 0 10px; }
  main .full-detail .detail {
    margin-top: 20px; }
    main .full-detail .detail .price {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 17px;
      font-weight: 700;
      color: #eb2222; }
    main .full-detail .detail .bascket {
      font-size: 37px;
      color: #1fab1e;
      margin-bottom: 20px;
      cursor: pointer; }

main .bascket-hidden {
  display: none; }
