main {

  .full-detail {
    padding-bottom: 30px;

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
    }

      .image-phone {
    
        img {
          max-width: 30%;
        }
      }

      .description {
        text-align: center;
        margin: 10px 0 10px;
      }

      .detail {
        margin-top: 20px;

        .price {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 17px;
          font-weight: 700;
          color: rgb(235, 34, 34);
        }

        .bascket {
          font-size: 37px;
          color: #1fab1e;
          margin-bottom: 20px;
          cursor: pointer;
        }
      }
  }

  .bascket-hidden {
    display: none;
  }
}