main {
  margin-bottom: 150px;
  position: relative;

  .bascket-general {
    position: fixed;
    top: 80px;
    right: 7%;
    text-align: center;
    cursor: pointer;

    i {
      color: #1fab1e;
    }

    span {
      font-weight: 600;
      color: rgb(252, 6, 6);
    }
  }

  .detail-phone-show {
    display: block;
    position: fixed;
    top: 50px;
    left: 15%;
    width: 70%;
    text-align: center;
    background: #fff;
    z-index: 1;

    .close {
      margin: 20px 20px 0 0; 
    }
  }

  .detail-phone {
    display: none;
  }

  .container-list {
    position: relative;
    
    .click-container {
      cursor: pointer;
    }

    &:hover .detail .bascket {
      display: block;
    }

    .title {
      margin-top: 100px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .detail {
      display: flex;
      justify-content: space-around;

      .bascket {
        font-size: 36px;
        position: absolute;
        bottom: 0;
        left: 42%;
        display: none;
        transition: 0.8s;
        z-index: 3;
        color: #1fab1e;
        cursor: pointer;

        &:hover {
          font-size: 38px;
          transition: 0.3s;
          color: #57d853; 
        }
      }

      .price {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        font-weight: 700;
        color: rgb(235, 34, 34);
      }
    }

    .image-phone {
      margin-bottom: 30px;

      img {
        max-width: 100%;
        height: 350px;
      }
    }
  }

  .show-products {
    position: fixed;
    top: 100px;
    left: 35%;
    background-color: red;
    display: block;

    .close {
      padding-top: 10px;
      padding-right: 10px;

    }
  }

  .close-products {
    display: none;
  }
}