main {
  margin-bottom: 150px;
  position: relative; }
  main .bascket-general {
    position: fixed;
    top: 80px;
    right: 7%;
    text-align: center;
    cursor: pointer; }
    main .bascket-general i {
      color: #1fab1e; }
    main .bascket-general span {
      font-weight: 600;
      color: #fc0606; }
  main .detail-phone-show {
    display: block;
    position: fixed;
    top: 50px;
    left: 15%;
    width: 70%;
    text-align: center;
    background: #fff;
    z-index: 1; }
    main .detail-phone-show .close {
      margin: 20px 20px 0 0; }
  main .detail-phone {
    display: none; }
  main .container-list {
    position: relative; }
    main .container-list .click-container {
      cursor: pointer; }
    main .container-list:hover .detail .bascket {
      display: block; }
    main .container-list .title {
      margin-top: 100px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px; }
    main .container-list .detail {
      display: flex;
      justify-content: space-around; }
      main .container-list .detail .bascket {
        font-size: 36px;
        position: absolute;
        bottom: 0;
        left: 42%;
        display: none;
        transition: 0.8s;
        z-index: 3;
        color: #1fab1e;
        cursor: pointer; }
        main .container-list .detail .bascket:hover {
          font-size: 38px;
          transition: 0.3s;
          color: #57d853; }
      main .container-list .detail .price {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        font-weight: 700;
        color: #eb2222; }
    main .container-list .image-phone {
      margin-bottom: 30px; }
      main .container-list .image-phone img {
        max-width: 100%;
        height: 350px; }
  main .show-products {
    position: fixed;
    top: 100px;
    left: 35%;
    background-color: red;
    display: block; }
    main .show-products .close {
      padding-top: 10px;
      padding-right: 10px; }
  main .close-products {
    display: none; }
