.product-detail {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 100px;
  text-align: center; }
  .product-detail button {
    margin-top: 30px; }

.create-order {
  margin-top: 30px;
  text-align: right; }

.form {
  position: fixed;
  top: 80px;
  background: #fff;
  left: 0%;
  width: 100%;
  z-index: 1;
  display: block; }

.close-form {
  display: none; }
