header {
  background-color: rgb(233, 230, 230);
  padding-top: 30px;
  padding-bottom: 50px;


  nav {

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }
  }
}